<div class="section account-page">
  <div class="account-form-wrap">
    <div class="s-label" style="text-align:center;justify-content:center;margin-bottom:32px;">Account</div>
    <h1 class="account-title">Create<br><em>account.</em></h1>

    {% form 'create_customer', class: 'account-form' %}
      {% if form.errors %}
        <div class="account-errors">{{ form.errors | default_errors }}</div>
      {% endif %}
      <div class="account-field-row">
        <div class="account-field">
          <label class="account-label" for="FirstName">First name</label>
          <input id="FirstName" class="account-input" type="text" name="customer[first_name]" autocomplete="given-name">
        </div>
        <div class="account-field">
          <label class="account-label" for="LastName">Last name</label>
          <input id="LastName" class="account-input" type="text" name="customer[last_name]" autocomplete="family-name">
        </div>
      </div>
      <div class="account-field">
        <label class="account-label" for="Email">Email</label>
        <input id="Email" class="account-input" type="email" name="customer[email]" autocomplete="email" required>
      </div>
      <div class="account-field">
        <label class="account-label" for="CreatePassword">Password</label>
        <input id="CreatePassword" class="account-input" type="password" name="customer[password]" autocomplete="new-password" required>
      </div>
      <button type="submit" class="account-btn">Create account</button>
      <a href="{{ routes.account_login_url }}" class="account-alt-link">Already have an account? Sign in →</a>
    {% endform %}
  </div>
</div>
