{% layout 'theme' %}

<div class="auth-page section">
  <div class="auth-wrap">
    <div class="auth-num">Reset Password</div>
    <h1 class="auth-heading">
      Choose a<br><em>new password.</em>
    </h1>

    {% form 'reset_customer_password' %}
      {% if form.errors %}
        <div class="auth-errors">
          {{ form.errors | default_errors }}
        </div>
      {% endif %}

      <div class="auth-form">
        <div class="auth-form-group">
          <label class="auth-label" for="reset-password">New password</label>
          <input id="reset-password" class="auth-input" type="password"
                 name="customer[password]" autocomplete="new-password" required>
        </div>
        <div class="auth-form-group">
          <label class="auth-label" for="reset-password-confirm">Confirm new password</label>
          <input id="reset-password-confirm" class="auth-input" type="password"
                 name="customer[password_confirmation]" autocomplete="new-password" required>
        </div>
        <button type="submit" class="auth-submit">Reset password</button>
      </div>
    {% endform %}
  </div>
</div>
